Source: libmad
Priority: optional
Section: sound
Build-Depends: debhelper (>= 8.1.3~), gettext, cdbs (>= 0.4.93~), autotools-dev, quilt, dh-autoreconf
Maintainer: Mad Maintainers <pkg-mad-maintainers@lists.alioth.debian.org>
Uploaders: Kurt Roeckx <kurt@roeckx.be>, Clément Stenac <zorglub@debian.org>, Sam Clegg <samo@debian.org>
Standards-Version: 3.7.3

Package: libmad0
Architecture: any
Multi-Arch: same
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: MPEG audio decoder library
 MAD is an MPEG audio decoder. It currently only supports the MPEG 1
 standard, but fully implements all three audio layers (Layer I, Layer II,
 and Layer III, the latter often colloquially known as MP3.)
 .
 MAD has the following special features:
   - 100% fixed-point (integer) computation
   - completely new implementation based on the ISO/IEC 11172-3 standard
   - distributed under the terms of the GNU General Public License (GPL)

Package: libmad0-dev
Architecture: any
Section: libdevel
Depends: libmad0 (=${binary:Version}), ${misc:Depends}
Description: MPEG audio decoder development library
 MAD is an MPEG audio decoder. It currently only supports the MPEG 1
 standard, but fully implements all three audio layers (Layer I, Layer II,
 and Layer III, the latter often colloquially known as MP3.)
 .
 This is the package you need to develop or compile applications that use MAD.
